snippet cfn-OpsWorks-Volume
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-opsworks-volume.html
Type: "AWS::OpsWorks::Volume"
Properties:
  Ec2VolumeId: String
  MountPoint: String
  Name: String
  StackId: String

endsnippet