snippet cfn-OpsWorks-App
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-opsworks-app.html
Type: "AWS::OpsWorks::App"
Properties: 
  AppSource:
    Source
  Attributes:
    String: String
  Description: String
  DataSources: 
    - DataSource
  Domains:
    - String
  EnableSsl: Boolean
  Environment:
    - Environment
  Name: String
  Shortname: String
  SslConfiguration:
    SslConfiguration
  StackId: String
  Type: String

endsnippet