snippet cfn-Lambda-Alias
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-alias.html
Type: "AWS::Lambda::Alias"
Properties:     
  Description: String         
  FunctionName: String
  FunctionVersion: String
  Name: String
  RoutingConfig: 
    AliasRoutingConfiguration

endsnippet