snippet cfn-Cognito-UserPoolGroup
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cognito-userpoolgroup.html
Type: "AWS::Cognito::UserPoolGroup"
Properties:
  Description: String
  GroupName: String
  Precedence: Number
  RoleArn: String
  UserPoolId: String
endsnippet