snippet cfn-Logs-MetricFilter
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-logs-metricfilter.html
Type: "AWS::Logs::MetricFilter"
Properties: 
  FilterPattern: String
  LogGroupName: String
  MetricTransformations:
    MetricTransformations

endsnippet