snippet cfn-IAM-InstanceProfile
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html
Type: "AWS::IAM::InstanceProfile"
Properties: 
  Path: String
  Roles:
    - IAM Roles 
  InstanceProfileName: String

endsnippet