snippet cfn-IAM-Policy
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html
Type: "AWS::IAM::Policy"
Properties: 
  Groups:
    - String
  PolicyDocument: JSON object
  PolicyName: String
  Roles:
    - String
  Users:
    - String

endsnippet