snippet cfn-DAX-ParameterGroup
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dax-parametergroup.html
Type: "AWS::DAX::ParameterGroup"
Properties:
      ParameterGroupName: String
      Description: String
      ParameterNameValues: { String:String, ... }
         
endsnippet