snippet cfn-ElasticLoadBalancingV2-ListenerCertificate
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listenercertificate.html
Type: "AWS::ElasticLoadBalancingV2::ListenerCertificate"
Properties:
  Certificates: 
    - Certificate
  ListenerArn: String
endsnippet