snippet cfn-StepFunctions-StateMachine
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-stepfunctions-statemachine.html
Type: "AWS::StepFunctions::StateMachine"
Properties:
  StateMachineName: String
  DefinitionString: String
  RoleArn: String
endsnippet