snippet cfn-StepFunctions-Activity
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-stepfunctions-activity.html
Type: "AWS::StepFunctions::Activity"
Properties:
  Name: String
endsnippet