snippet cfn-EFS-FileSystem
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-efs-filesystem.html
Type: "AWS::EFS::FileSystem"
Properties: 
  Encrypted: Boolean
  FileSystemTags:
    - FileSystemTags
  KmsKeyId: String
  PerformanceMode: String

endsnippet