snippet cfn-EC2-SecurityGroupEgress
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-security-group-egress.html
Type: "AWS::EC2::SecurityGroupEgress"
Properties:
  CidrIp: String
  CidrIpv6: String
  Description: String
  DestinationPrefixListId: String
  DestinationSecurityGroupId:  String
  FromPort: Integer
  GroupId: String
  IpProtocol: String
  ToPort: Integer

endsnippet