snippet cfn-EC2-FlowLog
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-flowlog.html
Type: "AWS::EC2::FlowLog"
Properties:
  DeliverLogsPermissionArn : String
  LogGroupName : String
  ResourceId : String
  ResourceType : String
  TrafficType : String

endsnippet