snippet cfn-EC2-CustomerGateway
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-customer-gateway.html
Type: "AWS::EC2::CustomerGateway"
Properties:
  BgpAsn: Number
  IpAddress: String
  Tags:
    Resource Tag
  Type: String

endsnippet