snippet cfn-EC2-EIP
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-eip.html
Type: "AWS::EC2::EIP"
Properties:
  InstanceId: String
  Domain: String

endsnippet