snippet cfn-EC2-VPCCidrBlock
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-vpccidrblock.html
Type: "AWS::EC2::VPCCidrBlock"
Properties: 
  AmazonProvidedIpv6CidrBlock: Boolean
  CidrBlock: String
  VpcId: String
endsnippet