snippet cfn-EC2-VPNGateway
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-vpn-gateway.html
Type: "AWS::EC2::VPNGateway"
Properties: 
  AmazonSideAsn: Long
  Type: String
  Tags:
    Resource Tag 

endsnippet