snippet cfn-ServiceDiscovery-PublicDnsNamespace
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-servicediscovery-publicdnsnamespace.html
Type: "AWS::ServiceDiscovery::PublicDnsNamespace"
Properties:
  Description: String
  Name: String
endsnippet