snippet cfn-ElasticBeanstalk-Application
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-beanstalk.html
Type: "AWS::ElasticBeanstalk::Application"
Properties:
  ApplicationName: String
  Description: String
  ResourceLifecycleConfig:
     ApplicationResourceLifecycleConfig


endsnippet