snippet cfn-GameLift-Alias
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-gamelift-alias.html
Type: "AWS::GameLift::Alias"
Properties: 
  Name: String
  Description: String
  RoutingStrategy:
    RoutingStrategy

endsnippet