snippet cfn-Batch-ComputeEnvironment
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-batch-computeenvironment.html
Type: "AWS::Batch::ComputeEnvironment"
Properties:
  Type: String
  ServiceRole: String
  ComputeEnvironmentName: String
  ComputeResources: 
    ComputeResources
  State: String
endsnippet