snippet cfn-Batch-JobDefinition
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-batch-jobdefinition.html
Type: "AWS::Batch::JobDefinition"
Properties:
  Type: String
  Parameters: Json object
  ContainerProperties: 
    ContainerProperties
  JobDefinitionName: String
  RetryStrategy: 
    RetryStrategy
endsnippet