snippet cfn-DataPipeline-Pipeline
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-datapipeline-pipeline.html
Type: "AWS::DataPipeline::Pipeline"
Properties:
  Activate: Boolean
  Description: String
  Name: String
  ParameterObjects:
    - Parameter object
  ParameterValues:
    - Parameter value
  PipelineObjects:
    - Pipeline object
  PipelineTags:
    - Pipeline tag

endsnippet