snippet cfn-Athena-NamedQuery
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-athena-namedquery.html
Type: "AWS::Athena::NamedQuery"
Properties:
  Description: String
  QueryString: String
  Database: String
  Name: String
endsnippet