snippet cfn-KinesisAnalytics-ApplicationOutput
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kinesisanalytics-applicationoutput.html
Type: "AWS::KinesisAnalytics::ApplicationOutput"
Properties:
  ApplicationName: String
  Output: 
    Output
endsnippet