snippet cfn-KinesisAnalytics-Application
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kinesisanalytics-application.html
Type: "AWS::KinesisAnalytics::Application"
Properties:
  ApplicationName: String
  ApplicationDescription: String
  ApplicationCode: String
  Inputs: 
    - Input
endsnippet