snippet cfn-Kinesis-Stream
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kinesis-stream.html
Type: "AWS::Kinesis::Stream"
Properties: 
  Name: String
  RetentionPeriodHours: Integer
  ShardCount: Integer
  StreamEncryption: Kinesis  StreamEncryption
  Tags:
    - Resource Tag 

endsnippet