snippet cfn-CloudFront-CloudFrontOriginAccessIdentity
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudfront-cloudfrontoriginaccessidentity.html
Type: "AWS::CloudFront::CloudFrontOriginAccessIdentity"
Properties:
  CloudFrontOriginAccessIdentityConfig: CloudFrontOriginAccessIdentityConfig
endsnippet