snippet cfn-CloudFront-StreamingDistribution
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudfront-streamingdistribution.html
Type: "AWS::CloudFront::StreamingDistribution"
Properties:
  StreamingDistributionConfig: StreamingDistributionConfig
  Tags: 
    - Tag
endsnippet