snippet cfn-Route53-RecordSetGroup
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-route53-recordsetgroup.html
Type: "AWS::Route53::RecordSetGroup"
Properties: 
  Comment: String
  HostedZoneId: String
  HostedZoneName: String
  RecordSets:
    - RecordSet1 

endsnippet