snippet cfn-WAF-SqlInjectionMatchSet
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-waf-sqlinjectionmatchset.html
Type: "AWS::WAF::SqlInjectionMatchSet"
Properties: 
  Name: String
  SqlInjectionMatchTuples:
    - SqlInjectionMatchTuple 

endsnippet