snippet cfn-SSM-Document
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ssm-document.html
Type: "AWS::SSM::Document"
Properties: 
  Content: JSON object
  DocumentType: String

endsnippet