snippet cfn-SSM-Parameter
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ssm-parameter.html
Type: "AWS::SSM::Parameter"
Properties: 
  Name: String
  Description: String
  Type: String
  Value: String
  AllowedPattern: String

endsnippet