snippet cfn-GuardDuty-Detector
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-guardduty-detector.html
Type: "AWS::GuardDuty::Detector"
Properties:
  Enable: Boolean
endsnippet