snippet cfn-GuardDuty-IPSet
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-guardduty-ipset.html
Type: "AWS::GuardDuty::IPSet"
Properties:
  Activate: Boolean
  DetectorId: String
  Format: String
  Location: String
  Name: String
endsnippet