snippet cfn-WAFRegional-SqlInjectionMatchSet
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-wafregional-sqlinjectionmatchset.html
Type: "AWS::WAFRegional::SqlInjectionMatchSet"
Properties: 
  Name: String
  SqlInjectionMatchTuples:
    - SqlInjectionMatchTuple 

endsnippet