snippet cfn-WAFRegional-WebACL
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-wafregional-webacl.html
Type: "AWS::WAFRegional::WebACL"
Properties: 
  DefaultAction:
    Action
  MetricName: String
  Name: String
  Rules:
    - Rule 

endsnippet