snippet cfn-CodeDeploy-Application
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-codedeploy-application.html
Type: "AWS::CodeDeploy::Application"
Properties:
  ApplicationName: String	    
  ComputePlatform: String

endsnippet