snippet cfn-Glue-Classifier
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-glue-classifier.html
Type: "AWS::Glue::Classifier"
Properties:
  GrokClassifier: 
    GrokClassifier
endsnippet