snippet cfn-Glue-Job
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-glue-job.html
Type: "AWS::Glue::Job"
Properties:
  Role: String
  DefaultArguments: JSON object
  Connections: 
    ConnectionsList
  MaxRetries: Double
  Description: String
  LogUri: String
  Command: 
    JobCommand
  AllocatedCapacity: Double
  ExecutionProperty: 
    ExecutionProperty
  Name: String
endsnippet