snippet cfn-Glue-Database
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-glue-database.html
Type: "AWS::Glue::Database"
Properties:
  DatabaseInput: 
    DatabaseInput
  CatalogId: String
endsnippet