snippet cfn-Glue-Crawler
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-glue-crawler.html
Type: "AWS::Glue::Crawler"
Properties:
  Role: String
  Classifiers: 
    - String
  Description: String
  SchemaChangePolicy: 
    SchemaChangePolicy
  Schedule: 
    Schedule
  DatabaseName: String
  Targets: 
    Targets
  TablePrefix: String
  Name: String
endsnippet