snippet cfn-Glue-Partition
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-glue-partition.html
Type: "AWS::Glue::Partition"
Properties:
  TableName: String
  DatabaseName: String
  CatalogId: String
  PartitionInput: 
    PartitionInput
endsnippet