snippet cfn-Glue-Trigger
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-glue-trigger.html
Type: "AWS::Glue::Trigger"
Properties:
  Type: String
  Description: String
  Actions: 
    - Action 
  Schedule: String
  Name: String
  Predicate: 
    Predicate
endsnippet