snippet cfn-SNS-Subscription
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-sns-subscription.html
Type: "AWS::SNS::Subscription"
Properties:
  Endpoint: String
  Protocol: String
  TopicArn: String

endsnippet