snippet cfn-SNS-TopicPolicy
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html
Type: "AWS::SNS::TopicPolicy"
Properties:
  PolicyDocument: PolicyDocument
  Topics:
    - List of SNS topic ARNs 

endsnippet