snippet cfn-IoT-TopicRule
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iot-topicrule.html
Type: "AWS::IoT::TopicRule"
Properties:
  RuleName: String
  TopicRulePayload: TopicRulePayLoad
endsnippet