snippet cfn-IoT-Certificate
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iot-certificate.html
Type: "AWS::IoT::Certificate"
  Properties:
    CertificateSigningRequest: String
    Status: String
endsnippet