snippet cfn-IoT-Policy
#AWS-DOC http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iot-policy.html
Type: "AWS::IoT::Policy"
Properties:
  PolicyDocument: JSON object
  PolicyName: String
endsnippet